<header class="bs-docs-nav navbar navbar-static-top" id="top" style="margin-bottom: 0;border-bottom: 0;">
  <div class="container">
    <div class="navbar-header">
      <a [href]="githubLink" class="navbar-brand">ng-circle-progress</a>
    </div>
  </div>
</header>

<div class="jumbotron">
  <div class="container">
    <h2>NgCircleProgress Demo</h2>
    <p>A simple circle progress component created for Angular 4 based on SVG Graphics.</p>
    <a class="btn btn-lg btn-primary" [href]="githubLink">View on GitHub</a>
  </div>
</div>

<div class="container">

  <div class="col-sm-12" style="margin-bottom:30px;">
    <circle-progress [options]="optionsA" [renderOnClick]="false" class="copy" (click)="copyOptions($event, optionsA)"></circle-progress>
    <circle-progress [options]="optionsB" [renderOnClick]="false" class="copy" (click)="copyOptions($event, optionsB)"></circle-progress>
    <circle-progress [options]="optionsC" [renderOnClick]="false" class="copy" (click)="copyOptions($event, optionsC)"></circle-progress>
    <circle-progress [options]="optionsD" [renderOnClick]="false" class="copy" (click)="copyOptions($event, optionsD)"></circle-progress>
    <circle-progress [options]="optionsE" [renderOnClick]="false" class="copy" (click)="copyOptions($event, optionsE)"></circle-progress>
  </div>

  <div class="col-md-6 col-sm-12">

    <a href="javascript:;" class="btn btn-default pull-right" role="button" (click)="resetOptions()">Reset</a>

    <circle-progress #circleProgress [percent]="options.percent" [radius]="options.radius" [subtitleFormat]="options.subtitleFormat"
      [space]="options.space" [outerStrokeWidth]="options.outerStrokeWidth" [innerStrokeWidth]="options.innerStrokeWidth" [animationDuration]="options.animationDuration"
      [outerStrokeColor]="options.outerStrokeColor" [innerStrokeColor]="options.innerStrokeColor" [backgroundColor]="options.backgroundColor"
      [backgroundOpacity]="options.backgroundOpacity" [class]="'center-block cursor-pointer'" [animation]="options.animation"
      [backgroundStroke]="options.backgroundStroke" [backgroundStrokeWidth]="options.backgroundStrokeWidth" [backgroundPadding]="options.backgroundPadding"
      [animateTitle]="options.animateTitle" [unitsFontSize]="options.unitsFontSize" [unitsColor]="options.unitsColor" [titleColor]="options.titleColor"
      [titleFontSize]="options.titleFontSize" [subtitleColor]="options.subtitleColor" [subtitleFontSize]="options.subtitleFontSize"
      [showTitle]="options.showTitle" [showSubtitle]="options.showSubtitle" [showUnits]="options.showUnits" [titleFontSize]="options.titleFontSize"
      [unitsFontSize]="options.unitsFontSize" [subtitleFontSize]="options.subtitleFontSize" [outerStrokeLinecap]="options.outerStrokeLinecap"
      [showBackground]="options.showBackground" [showInnerStroke]="options.showInnerStroke" [maxPercent]="options.maxPercent"
      [toFixed]="options.toFixed" [clockwise]="options.clockwise" [title]="options.title"></circle-progress>
  </div>

  <div class="col-md-6 col-sm-12">

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" *ngFor="let group of controlGroups; let first=first" [ngClass]="{active: first}">
        <a href="#{{group.groupName}}" [attr.aria-controls]="group.groupName" role="tab" data-toggle="tab">{{group.groupName}}</a>
      </li>
      <li>
        <a href="#typescript" aria-controls="typesript" role="tab" data-toggle="tab">TypeScript</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" [ngClass]="{active: first}" id="{{group.groupName}}" *ngFor="let group of controlGroups; let first=first">
        <form class="form-horizontal">
          <div class="form-group" *ngFor="let control of group.controls">
            <label for="percent" class="col-sm-6 control-label">{{control.name}} <span class="text-muted">= {{options[control.name]}}</span></label>
            <div class="col-sm-6">
              <input *ngIf="control.type==='checkbox'" [name]="control.name" [attr.name]="control.name" type="checkbox" [(ngModel)]="options[control.name]"
                (change)="onValueChanged($event)">
              <input *ngIf="control.type==='range'" [name]="control.name" [attr.name]="control.name" [type]="control.type" [(ngModel)]="options[control.name]"
                [max]="control.max" [min]="control.min" [step]="control.step" (change)="onValueChanged($event)">
              <select class="form-control" *ngIf="control.type==='select'" [name]="control.name" [attr.name]="control.name" [(ngModel)]="options[control.name]"
                (change)="onValueChanged($event)">
                <option *ngFor="let value of control.options">{{value}}</option>
              </select>
              <input *ngIf="control.type!=='range' && control.type!=='checkbox' && control.type!=='select'" [name]="control.name" [attr.name]="control.name"
                [type]="control.type" [(ngModel)]="options[control.name]" (change)="onValueChanged($event)">
            </div>
          </div>
        </form>
      </div>
      <div role="tabpanel" class="tab-pane" id="typescript">
        <pre>
import {{ '{' }} NgCircleProgressModule } from 'ng-circle-progress';

@NgModule({{ '{' }}
  //...
  imports: [
    //...
    NgCircleProgressModule.forRoot({{configurations|json}})
  ],
  //...
})
export class AppModule {{ '{' }} }</pre>
      </div>
    </div>
  </div>
</div>